<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create autoevaluacion</title>
    <link rel="preload" href="css/style.css" as=" style">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/flatpickr/dist/flatpickr.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-******************************" crossorigin="anonymous">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>

<body>
    <h3 style="text-align: center; color: white; margin-top: 30px;">Formulario de creacion de Autoevaluacion</h3>
    <div class="fondo">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-6"> 
                    <div class="card" style="margin: auto; margin-top: 180px; margin-bottom: 100px;">
                        <div class="card-body">
                            <form action="/coordinadorCreateAutoevaluacion" method="post">
                                <div class="form-group">
                                    <p for="user_identification" style="color: black;">Seleccione la identificación del docente:</p>
                                    <select id="user_identification" name="user_identification" class="form-control" required>
                                        <% dataIdentifications.forEach(function(identification) { %>
                                            <option value="<%= identification.user_identification %>"><%= identification.user_identification %></option>
                                        <% }); %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p for="labor_code" style="color: black;">Seleccione el código de la labor:</p>
                                    <select id="labor_code" name="labor_code" class="form-control" required>
                                        <% for (let i = 0; i < dataCode.length; i++) { %>
                                            <option value="<%= dataCode[i].labor_code %>"><%= dataCode[i].labor_code %></option>
                                        <% } %>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p for="period_name" style="color: black;">Seleccione el periodo:</p>
                                    <select id="period_id" name="period_id" class="form-control" required>
                                      <% dataPeriods.forEach(period => { %>
                                        <option value="<%= period.period_id %>"><%= period.period_name %></option>
                                      <% }); %>
                                    </select>
                                  </div>
                                <div class="form-group">
                                    <p for="acto" style="color: black;">Es acto:</p>
                                    <select id="acto" name="acto" class="form-control" required>
                                      <option value="si">Si</option>
                                      <option value="no">No</option>
                                    </select>
                                </div>
                                <div class="form-group">
                                    <p style="color: black;">Ingrese las recomendaciones:</p>
                                    <textarea name="recomendaciones" class="form-control rows="8"> </textarea> 
                                </div>
                                <div class="form-group">
                                    <p for="dateStart" style="color: black;">Digite la fecha de inicio:</p>
                                    <input type="text" id="dateStart" name="date_init" class="form-control" required>
                                </div>
                                <div class="form-group">
                                    <p for="dateFinish" style="color: black;">Digite la fecha fin:</p>
                                    <input type="text" id="dateFinish" name="date_finish" class="form-control" required>
                                </div>
                                <button type="submit" class="btn btn-primary">
                                    Crear 
                                </button>
                                <a href="/coordinadorCrudAutoevaluacion" class="btn btn-secondary">Cancelar</a>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>


    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
        <script>
            Swal.fire({
                title: '<%= alertTitle %>' ,
                text: '<%= alertMessage %>',
                icon: '<%= alertIcon %>',
                showConfirmationButton: <%= showConfirmButton %>,
                timer:<%= timer %>
            }).then(()=>{
                window.location='/<%= ruta %>'
            })
        </script>
    <% } %>

    <script src="https://cdn.jsdelivr.net/npm/flatpickr"></script>
    <script>
        flatpickr("#dateStart", {
            dateFormat: "Y-m-d"
        });

        flatpickr("#dateFinish", {
            dateFormat: "Y-m-d"
        });
    </script>
    <script>
        var dateStartInput = document.getElementById("dateStart");
        var dateFinishInput = document.getElementById("dateFinish");
    
        document.querySelector("form").addEventListener("submit", function(event) {
            var dateStartValue = dateStartInput.value;
            var dateFinishValue = dateFinishInput.value;
    
            if (dateStartValue === "" || dateFinishValue === "") {
                event.preventDefault();
                alert("Por favor, seleccione ambas fechas.");
            }
        });
    </script>
</body>
</html>