<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>autoevaluaciones coordinador</title>
    <link rel="preload" href="css/style.css" as=" style">
    <link href="css/style.css" rel="stylesheet">
    <link rel="stylesheet" href="https://bootswatch.com/4/lux/bootstrap.min.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" integrity="sha384-******************************" crossorigin="anonymous">
    
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    </style>
</head>

<body>

    <nav class="navbar bg-dark">
        <form class="container-fluid justify-content-between" style="margin-top: 10px;">
            <a class="navbar-brand home-link" href="/decanoPrincipal"><i class="fas fa-home"></i></a>
            <a class="btn btn-primary" href="/decanoBandejaEntrada">Bandeja de entrada</a>
            <a class="btn btn-primary" href="/decanoAutoevaluaciones">Consultar autoevaluacion</a>
        </form>
    </nav>


    <div class="fondo">

        <div class="container mt-5">
            <div class="row">
                <div class="col-md-12 table-container">
                    <% if(data) { %>
                    <table class="table table-bordered table-hover">
                        <thead>
                            <th>N</th>
                            <th>nombre labor</th>
                            <th>tipo labor</th>
                            <th>horas</th>
                            <th>descripcion</th>
                            <th>acto</th>
                            <th>fecha inicio</th>
                            <th>fecha fin</th>
                            <th>estado</th>
                            <th>resultados</th>
                            <th>evaluacion</th>
                            <th>docente</th>
                            <th>periodo</th>
                            <th>recomendaciones</th>
                            <th>sugerencias</th>
                        </thead>
                        <tbody>
                            <% for (var i = 0; i < data.length ; i++){ %>
                            <% if(data[i].activo !== 1) { continue; } %>
                            <tr>
                                <td><%= data[i].autoevaluation_id %></td>
                                <td><%= data[i].labor_name %></td>
                                <td><%= data[i].type_labor_name %></td>
                                <td><%= data[i].labor_hours %></td>
                                <td><%= data[i].labor_descripcion %></td>
                                <td><%= data[i].acto %></td>
                                <% if (data[i].date_init && typeof data[i].date_init === 'object' && data[i].date_init instanceof Date) { %>
                                <td><%= data[i].date_init.toISOString().substring(0, 10) %></td>
                                <% } else { %>
                                <td></td>
                                <% } %>
    
                                <% if (data[i].date_finish && typeof data[i].date_finish === 'object' && data[i].date_finish instanceof Date) { %>
                                <td><%= data[i].date_finish.toISOString().substring(0, 10) %></td>
                                <% } else { %>
                                <td></td>
                                <% } %>
    
                                <td><%= data[i].state %></td>
                                <td><%= data[i].resultados %></td>
                                <td><%= data[i].evaluacion %></td>
                                <td><%= data[i].user_name + ' ' + data[i].user_lastname%></td>
                                <td><%= data[i].period_name %></td>
                                <td><%= data[i].recomendaciones %></td>
                                <td><%= data[i].sugerencias %></td>
                                <td>
                                    <a class="btn btn-info" href="/decanoUpdateAutoevaluacionCoordinadorView/<%= data[i].autoevaluation_id %>">Update</a>
                                    <form method="post"
                                        action="/decanoEnviarNotificacion/<%= data[i].user_identification %>/<%= data[i].autoevaluation_id %>">
                                        <button type="submit" class="btn btn-info">Notificar</button>
                                    </form>
                                </td>
                            </tr>
                            <% } %>
                        </tbody>
                    </table>
                    <% } %>
                </div>
            </div>
        </div>
    </div>

    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <% if(typeof alert != "undefined") { %>
    <script>
        Swal.fire({
            title: '<%= alertTitle %>',
            text: '<%= alertMessage %>',
            icon: '<%= alertIcon %>',
            showConfirmationButton: <%= showConfirmButton %>,
            timer: <%= timer %>
        }).then(() => {
            window.location = '/<%= ruta %>'
        })
    </script>
    <% } %>
</body>

</html>